---
import Button from "../ui/Button.astro";
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const { contactSectionButtonText, email, contactSectionButtonIcon } =
  staticData.data;
---

<section class="py-16 px-8 max-sm:px-4">
  <div
    class="mx-auto max-w-4xl rounded-2xl bg-linear-to-r from-mint-300 dark:from-mint-600 to-mint-50 dark:to-mint-200/5 hover:to-mint-300/30 dark:hover:to-mint-600/30 p-[.2rem]"
  >
    <div
      class="group relative z-0 flex flex-col items-center justify-center gap-6 overflow-hidden rounded-2xl bg-linear-to-tr from-riptide-100 to-white p-12 max-md:p-8 transition hover:shadow-[0_10px_50px_rgba(13,188,130,0.2)] dark:bg-linear-to-r dark:from-mint-950 dark:to-zinc-950 dark:before:bg-[radial-gradient(circle,rgba(13,188,130)_0,rgba(1,45,34)_100%)] before:bg-[radial-gradient(circle,rgba(95,255,202)_0,rgba(144,253,210)_100%)] before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:h-[60%] before:aspect-square before:rounded-full before:blur-3xl before:opacity-60 dark:before:opacity-80 before:-z-10 before:transition"
    >
      <h2
        class="text-3xl font-black text-blacktext dark:text-white max-md:text-2xl text-center"
      >
        Let's Work Together
      </h2>
      <p
        class="text-lg text-blacktext/80 dark:text-gray-300 text-center max-w-2xl"
      >
        Interested in collaborating or have a question? Feel free to reach out!
      </p>
      <div class="transition-all duration-300 hover:scale-105">
        <Button
          variant="big"
          link={`mailto:${email}`}
          text={contactSectionButtonText}
          iconName={contactSectionButtonIcon}
        />
      </div>
    </div>
  </div>
</section>
