---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EDUCATION = [
  {
    date: "2023 - Present",
    title: "Bachelor in Computer Science and Information Technology",
    company: "HEPIA",
    description:
      "Specializing in cybersecurity and systems engineering. Coursework includes C programming, computer architecture, operating systems, networking, cryptography, pentesting, and system monitoring with Wazuh and pfSense.",
  },
  {
    date: "2022 - 2023",
    title: "Preparatory Class",
    company: "HEPIA",
    description:
      "Developed strong technical foundations through hands-on projects in C#, networking, and web development (HTML, CSS, PHP), preparing for advanced studies in cybersecurity.",
  },
  {
    date: "2020 - 2022",
    title: "Bachelor in Computer Science and Information Technology",
    company: "EPFL",
    description:
      "Built a solid theoretical base in algorithms, data structures, linear algebra, and Boolean algebra before transferring to HEPIA to pursue applied cybersecurity.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="education">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon
        class="text-4xl dark:text-white text-blacktext"
        name="graduation-cap"
      />
      <Heading textGradient="Education" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Educational background">
      <ol class="relative mt-10">
        {
          EDUCATION.map((education, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`education-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2 text-zinc-600 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`education-title-${index}`}
                >
                  <ExperienceItem {...education} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
