---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "March 2023 - June 2023",
    title: "IT Service Intern",
    company: "Palexpo",
    description:
      "Managed internal ticketing system users and resolved technical issues including screen replacements, diagnostics, and peripheral configuration. Provided technical training on business tools (Excel, Word, ERP) and developed a VBA Excel tool to optimize cleaning staff rotation planning.",
  },
  {
    date: "April 2022 - August 2022",
    title: "Civil Service - Facility Maintenance",
    company: "EMS Bon-Séjour",
    description:
      "Maintained resident alert systems, managed building and garden upkeep, and handled installation and repair of bedroom furniture.",
  },
  {
    date: "July 2021 - August 2021",
    title: "Civil Service - Technical Services",
    company: "EMS Les Bruyères",
    description:
      "Provided IT equipment maintenance support for staff, assisted with computer tool usage, maintained buildings, and repaired damaged furniture.",
  },
  {
    date: "September 2019 - March 2020",
    title: "Civil Service - Hospitality Services",
    company: "Maison de Vessy",
    description:
      "Assisted with IT tools (Suite Office) for restaurant operations, supported meal service and customer relations, prepared dishes and tables, and managed cafeteria service.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
